<!DOCTYPE html>
<html lang="en">
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Set the background color to pink */
body {
  background-color: #FFFAFA; 

}
</style>
<!-- Rest of your head content -->
</head>
<!-- Rest of your body content -->
</html>

